/* This class positions the action button next to the slider close button by spacing the header content */
.panelHeaderActionPositionRight {
    width: 100%;
    justify-content: space-between;
}


.panelHeader {
    width: 100%;
    display: flex;
}

.panelHeaderTabs {
    margin: auto;
}
