/.github/
/.gitlab/
/.vscode/
/.husky/
/.git/
/.gitlab-ci.yml
/.prettierrc
/.prettierignore
/.eslintrc.js
/.editorconfig
/.dockerignore
/.gitattributes
/.gitignore

/apps/core/applications/**
/apps/core/src/plugins/**
/apps/core/benchmarks_example.json
/apps/core/data_example.json
/scripts/
/previews/
/test-apps/
/cache/
/files/
/exports/
/imports/
/docs/

**/node_modules/
**/dist/
**/jest-*config.json
**/*.tsbuildinfo
**/*.md
/jestModuleNameMapper.js
/commitlint.config.cjs

**/__tests__/
**/*.spec.ts
**/*.test.ts
**/*.spec.tsx
**/*.test.tsx
