.yarn/*

!.yarn/releases
!.yarn/plugins
!.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !/.yarn/cache
/.pnp.*

node_modules

# Application specific
config/local.js

# Node
.npm
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
logs
*.log

### MacOS ###
*.DS_STORE

### Linux ###
*~

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-*
.phpintel

### Eclipse ###
.project

### webstorm ###
.idea

### Misc. ###
*.dump
*.xls*
*.doc*
*.odt*
*.tmp

### Netbeans ###
*nbproject

### VSCode ###
.vscode

### Apollo auth token ###
apollo.token.js

# ignore imageMagick tmp files
magick-*

# eslint cache
*.eslintcache

/previews
/files
/imports
/cache
docker/previews
docker/files
docker/imports

apps/core/applications/instances
apps/core/config/local.js

apps/*/dist
*.tsbuildinfo

apps/*/apollo.apiKey.js