##### Common settings #####
.common-cache-settings: &common-cache-settings
    key: ${CI_COMMIT_REF_SLUG}
    untracked: true
    paths:
        - .yarn
        - node_modules/
        - 'apps/*/node_modules/'
        - 'libs/*/node_modules/'

.common-core-envs: &common-core-envs
    NODE_ENV: test
    ARANGO_NO_AUTH: 1
    ARANGO_URL: 'http://root:@arangodb:8529'
    AUTH_KEY: 123456789
    AMQP_HOST: rabbitmq
    AMQP_USERNAME: guest
    AMQP_PWD: guest
    APP_ROOT_PATH: .


.node-image: &node-image node:14-alpine
.arangodb-image: &arangodb-image arangodb:3.7
.rabbitmq-image: &rabbitmq-image rabbitmq:3-management-alpine

.before-script-common: &before-script-common
    before_script:
        - yarn install
############################

image: *node-image

stages:
    - test
    # - deploy

# include:
#   - project: 'infra/shared_ci'
#     file: '/omnipublish-v6.yml'

# This will apply to all jobs except installDeps, which its own cache settings
cache:
    <<: *common-cache-settings
    policy: pull-push

lint:
    stage: test
    <<: *before-script-common
    script:
        - yarn lint

tscheck:
    stage: test
    <<: *before-script-common
    script:
        - yarn tscheck

unitTests:
    stage: test
    <<: *before-script-common
    variables:
        SKIP_PREFLIGHT_CHECK: 'true'
    script:
        - yarn test

e2eApi:
    stage: test
    services:
        - *arangodb-image
        - *rabbitmq-image
    variables:
        <<: *common-core-envs
    <<: *before-script-common
    script:
        - cd apps/core/
        - yarn run test:e2e:api

e2eIndexationManager:
    stage: test
    services:
        - *arangodb-image
        - *rabbitmq-image
        - name: docker.elastic.co/elasticsearch/elasticsearch:7.8.0
          alias: elasticsearch
          command: [ "bin/elasticsearch", "-Expack.security.enabled=false", "-Ediscovery.type=single-node" ]
    variables:
        <<: *common-core-envs
        ES_JAVA_OPTS: -Xms512m -Xmx512m # For ElasticSearch
    <<: *before-script-common
    script:
        - cd apps/core/
        - yarn run test:e2e:indexationManager
