# See https://help.github.com/ignore-files/ for more about ignoring files.

# Application specific
config/local.js

# Node
/node_modules
.npm
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production
/build

# Misc
.DS_Store
logs
*.log

### MacOS ###
*.DS_STORE

### Linux ###
*~

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-*
.phpintel

### Eclipse ###
.project

### webstorm ###
.idea

### Misc. ###
*.dump
*.xls*
*.doc*
*.odt*
*.tmp

### Netbeans ###
*nbproject

### VSCode ###
.vscode

local
files
