.panel {
    position: relative;
    flex: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
    overflow: hidden;
    padding: calc(var(--general-spacing-s) * 1px) calc(var(--general-spacing-m) * 1px);
}

.panelContent {
    flex: 1;
    background: var(--general-utilities-light);
    border-radius: calc(var(--general-border-radius-s) * 1px);
    overflow: hidden;
}

.firstPanel {
    padding: calc(var(--general-spacing-s) * 1px) calc(var(--general-spacing-m) * 1px);
    gap: calc(var(--general-spacing-s) * 1px);
}

.firstPanelContent {
    box-shadow: var(--general-utilities-shadow-light);

    /* Apply padding as first panel content doesn't have any padding coming from a wrapper*/
    & > div > div:has(> form) {
        padding: calc(var(--general-spacing-s) * 1px);
    }
}

.panelHeader {
    display: flex;
    gap: calc(var(--general-spacing-s) * 1px);
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        justify-content: flex-start;
    }
}