.popupPanel {
    /* KitModal content selector */
    & > div > div:nth-child(2) {
        padding: 0;
    }
}

.centerPopup {
    /* KitModal header selector */
    & > div > div:nth-child(1) {
        border-bottom: 1px solid var(--general-utilities-border);
    }

     /* KitModal content selector */
    & > div > div:nth-child(2) {
        /* Fix border radius issue of KitModal content inside modal */
        border-bottom-left-radius: calc(var(--general-border-radius-s) * 1px);
        border-bottom-right-radius: calc(var(--general-border-radius-s) * 1px);
    }
}

.popupCreationFormPanel {
    & > div > div > div {
        height: auto;
        max-height: 80vh;
        width: 656px;
    }
}

.popupHeader {
    width: 100%;
    display: flex;
}

.popupContent {
    flex: auto;
    display: flex;
    overflow: hidden;
    height: 100%;

    /* Override the padding of EditRecord.tsx form */
    & > :first-child  > div:nth-child(2) > div > div:has(> form) {
        padding: calc(var(--general-spacing-xs) * 1px);
    }
}

.popupHeaderTabs {
    margin: auto;
}

.fullpagePopup {
    border-left: 1px solid var(--general-utilities-border);
    border-top: 1px solid var(--general-utilities-border);

    & > div {
        box-shadow: none;
    }
}

.hiddenPopup {
    visibility: hidden;
}

.sliderPanel {
    /* Panel header selector */
    section > div:nth-child(1) {
        padding-bottom: calc(var(--general-spacing-m) * 1px);
    }

    /* Panel content selector */
    section > div:nth-child(2) {
        /* Remove panel padding as sidepanel as already its own padding */
        padding: 0;

        /* Override the padding of EditRecord.tsx form */
         & > :first-child > div:nth-child(2) > div > div:has(> form) {
            padding: calc(var(--general-spacing-xs) * 1px);
        }
    }
}

.selfContainingPanel {
    .page {
        gap: 0;
        padding: 0;
    }
}