.sectionTitle {
    display: flex;
    align-items: center;
    gap: calc(var(--general-spacing-xs) * 1px);
}

.emptyBox {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: calc(var(--general-spacing-m) * 1px) 0;

    :global(.ant-typography) {
        color: var(--general-colors-neutral-grey-400);
    }
}

.viewItem {
    height: 48px;
}

.isCurrentView {
    background-color: var(--general-colors-primary-50);
    border: 1px solid var(--general-colors-primary-400);
}

.iconBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--general-height-m) * 1px);
    height: calc(var(--general-height-m) * 1px);
    border-radius: calc(var(--general-border-radius-s) * 1px);
    background-color: var(--general-colors-primary-50);
}

.primaryIcon {
    color: var(--general-colors-primary-300);
}

.dangerIcon {
    color: var(--general-utilities-error-default);
}

.emptyBadge {
    --components-Badge-colors-background-default: var(--general-utilities-neutral-light);
    --components-Badge-colors-typography-default: var(--general-utilities-text-primary);
}
