.layout {
    --header-height: 64px;
    --padding-bottom-height: var(--general-spacing-s);
    background-color: var(--general-colors-primary-50);
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 var(--header-height);

    .logo {
        width: 200px;
        display: flex;
        align-items: center;
    }
}


.mainContent {
    flex: auto;
    display: flex;
    overflow: hidden;
    height: calc(100vh - var(--header-height));
}

.page {
    flex: 1;
    flex-direction: column;
    gap: calc(var(--general-spacing-s) * 1px);
    padding: calc(var(--general-spacing-m) * 1px);
    display: flex;
    overflow: hidden;
}

.pageHeader {
    display: flex;
    flex-direction: column;
    gap: calc(var(--general-spacing-s) * 1px);

    .headerContent {
        display:flex;
        direction: column;
    }
}

.content {
    flex: 1;
    background: var(--general-utilities-light);
    border-radius: calc(var(--general-border-radius-s) * 1px);
    box-shadow: var(--general-utilities-shadow-light);
}
