.section {
    display: flex;
    flex-direction: column;
    gap: calc(var(--general-spacing-s) * 1px);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lists {
    gap: calc(var(--general-spacing-s) * 1px);
    display: grid;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    color: var(--general-utilities-text-primary);
}
