.tabHeader {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: calc(var(--general-spacing-xs) * 1px);
    padding: calc(var(--general-spacing-s) * 1px) calc(var(--general-spacing-m) * 1px);
    border-top: 1px solid var(--general-utilities-border);
    border-bottom: 1px solid var(--general-utilities-border);
    height: 66px;
}

.title {
    flex: 1 1 0;
    min-width: 0;
}

.unpinnedIcon {
    color: var(--general-utilities-text-primary);
}
