# Copyright LEAV Solutions 2017 until 2023/11/05, Copyright Aristid from 2023/11/06
# This file is released under LGPL V3
# License text available at https://www.gnu.org/licenses/lgpl-3.0.txt
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
