.app-card {
    display: grid;
    grid-template:
        "picto "
        "select"
        "content";
    padding: 16px;
    grid-template-rows: min-content min-content 1fr;
    font-family: var(--general-typography-fontFamily);
    background: white;
    border-radius: calc(var(--general-border-radius-s)* 1px);
    box-shadow: 0 3px 8px #0000001a;
    min-width: 248px;
    width: 248px;
    gap: 8px;
    border: 1px solid #D1DFE9;
}

.app-card-icon {
    width: 100%;
    height: 80px;
    grid-area: picto;
    border-radius: calc(var(--general-border-radius-s)* 1px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid #BABABA;
}

.app-card-icon .ant-avatar {
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    align-items: center;
}

.app-card-actions {
    grid-auto-columns: min-content;
    column-gap: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    grid-area: select;
}

.app-card-action-button {
    border-radius: 3.5px;
    font-size: .6rem;
    padding: 0;
    width: 16px;
    height: 16px;
    min-width: 16px;
    color: #0f97e4;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.app-card-data {
    grid-area: content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
}

.app-card-title {
    font-size: calc(var(--general-typography-fontSize6) * 1px);
    color: #0b6aa0;
    cursor: pointer;
}

.app-card-description {
    position: relative;
}

.app-card-description-container {
    font-size: calc(var(--general-typography-fontSize5) * 1px);
    font-weight: var(--general-typography-regularFontWeight);
    color: #0b6aa0;
}