name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache: 'yarn'
      - run: yarn install
      - run: yarn lint

  tscheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache: 'yarn'
      - run: yarn install
      - run: yarn tscheck

  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache: 'yarn'
      - run: yarn install
      - run: yarn test --all
        env:
          SKIP_PREFLIGHT_CHECK: 'true'

  e2e-api:
    runs-on: ubuntu-latest
    services:
      arangodb:
        image: arangodb:3.9
        env:
          ARANGO_NO_AUTH: 1
        ports:
          - "8529:8529"
      rabbitmq:
        image: rabbitmq:3-management-alpine
        ports:
          - "5672:5672"
      redis:
        image: redis
        ports:
          - "6379:6379"

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache: 'yarn'
      - name: Configure sysctl limits for ElasticSearch
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - name: Runs Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 7.8.0
      - run: yarn install
      - run: yarn run start:tasks
        env:
          NODE_ENV: test
          ARANGO_URL: 'http://root:@localhost:8529'
          AUTH_KEY: 123456789
          AMQP_HOST: localhost
          AMQP_PORT: 5672
          AMQP_USERNAME: guest
          AMQP_PWD: guest
          APP_ROOT_PATH: ${{ github.workspace }}/apps/core
          ELASTICSEARCH_URL: "http://localhost:9200"
          IMPORT_DIR: ${{ github.workspace }}/imports
          DISK_CACHE_DIRECTORY: ${{ github.workspace }}/cache
          REDIS_HOST: localhost
      - name: Run e2e tests
        working-directory: ./apps/core
        run: yarn run test:e2e:api
        env:
          NODE_ENV: test
          ARANGO_URL: 'http://root:@localhost:8529'
          AUTH_KEY: 123456789
          AMQP_HOST: localhost
          AMQP_PORT: 5672
          AMQP_USERNAME: guest
          AMQP_PWD: guest
          APP_ROOT_PATH: ${{ github.workspace }}/apps/core
          ELASTICSEARCH_URL: "http://localhost:9200"
          IMPORT_DIR: ${{ github.workspace }}/imports
          DISK_CACHE_DIRECTORY: ${{ github.workspace }}/cache
          REDIS_HOST: localhost

  e2e-indexation-manager:
    runs-on: ubuntu-latest
    services:
      arangodb:
        image: arangodb:3.9
        env:
          ARANGO_NO_AUTH: 1
        ports:
          - "8529:8529"
      rabbitmq:
        image: rabbitmq:3-management-alpine
        ports:
          - "5672:5672"
      redis:
        image: redis
        ports:
          - "6379:6379"

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache: 'yarn'
      - name: Configure sysctl limits for ElasticSearch
        run: |
          sudo swapoff -a
          sudo sysctl -w vm.swappiness=1
          sudo sysctl -w fs.file-max=262144
          sudo sysctl -w vm.max_map_count=262144
      - name: Runs Elasticsearch
        uses: elastic/elastic-github-actions/elasticsearch@master
        with:
          stack-version: 7.8.0
      - run: yarn install
      - name: Run e2e tests
        working-directory: ./apps/core
        run: yarn run test:e2e:indexationManager
        env:
          NODE_ENV: test
          ARANGO_URL: 'http://root:@localhost:8529'
          AUTH_KEY: 123456789
          AMQP_HOST: localhost
          AMQP_PORT: 5672
          AMQP_USERNAME: guest
          AMQP_PWD: guest
          APP_ROOT_PATH: .
          ELASTICSEARCH_URL: "http://localhost:9200"
          REDIS_HOST: localhost

  e2e-sync-scan:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    services:
      rabbitmq:
        image: rabbitmq:3-management-alpine
        ports:
          - "5672:5672"

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18.x
          cache: 'yarn'
      - run: yarn install
      - name: Run e2e tests
        working-directory: ./apps/sync-scan
        run: yarn run test:e2e
        env:
          NODE_ENV: test
          ALLOW_FILES_LIST: ""
          IGNORE_FILES_LIST: ""
          APP_ROOT_PATH: .
          AMQP_HOST: localhost
          AMQP_PORT: 5672
          AMQP_USERNAME: guest
          AMQP_PWD: guest