on:
    push:
        tags:
            - '**'
    workflow_dispatch:

# These jobs will generate docker images for all services
jobs:
    core:
        runs-on: ubuntu-latest
        steps:
            -
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v2
            -
                name: Login to Docker Hub
                uses: docker/login-action@v2
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}
            -
                name: Build image
                uses: docker/build-push-action@v3
                with:
                    platforms: linux/amd64, linux/arm64/v8
                    push: true
                    file: docker/DOCKERFILES/build/core.Dockerfile
                    labels:
                        LEAV Engine
                        Core
                    tags: |
                        "leavengine/core:latest"
                        "leavengine/core:${{ github.ref_name }}"

    preview-generator:
        runs-on: ubuntu-latest
        steps:
            -
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v2
            -
                name: Login to Docker Hub
                uses: docker/login-action@v2
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}
            -
                name: Build image
                uses: docker/build-push-action@v3
                with:
                    platforms: linux/amd64, linux/arm64/v8
                    push: true
                    target: runner-preview-generator
                    file: docker/DOCKERFILES/build/generic.Dockerfile
                    build-args: |
                        "APP=preview-generator"
                    labels:
                        LEAV Engine
                        Preview Generator
                    tags: |
                        "leavengine/preview-generator:latest"
                        "leavengine/preview-generator:${{ github.ref_name }}"

    automate-scan:
        runs-on: ubuntu-latest
        steps:
            -
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v2
            -
                name: Login to Docker Hub
                uses: docker/login-action@v2
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}
            -
                name: Build image
                uses: docker/build-push-action@v3
                with:
                    platforms: linux/amd64, linux/arm64/v8
                    push: true
                    target: runner
                    file: docker/DOCKERFILES/build/generic.Dockerfile
                    build-args: |
                        "APP=automate-scan"
                    labels:
                        LEAV Engine
                        Automate Scan
                    tags: |
                        "leavengine/automate-scan:latest"
                        "leavengine/automate-scan:${{ github.ref_name }}"

    sync-scan:
        runs-on: ubuntu-latest
        steps:
            -
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v2
            -
                name: Login to Docker Hub
                uses: docker/login-action@v2
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}
            -
                name: Build image
                uses: docker/build-push-action@v3
                with:
                    platforms: linux/amd64, linux/arm64/v8
                    push: true
                    target: runner
                    file: docker/DOCKERFILES/build/generic.Dockerfile
                    build-args: |
                        "APP=sync-scan"
                    labels:
                        LEAV Engine
                        Sync scan
                    tags: |
                        "leavengine/sync-scan:latest"
                        "leavengine/sync-scan:${{ github.ref_name }}"

    logs-collector:
        runs-on: ubuntu-latest
        steps:
            -
                name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v2
            -
                name: Login to Docker Hub
                uses: docker/login-action@v2
                with:
                    username: ${{ secrets.DOCKERHUB_USERNAME }}
                    password: ${{ secrets.DOCKERHUB_TOKEN }}
            -
                name: Build image
                uses: docker/build-push-action@v3
                with:
                    platforms: linux/amd64, linux/arm64/v8
                    push: true
                    target: runner
                    file: docker/DOCKERFILES/build/generic.Dockerfile
                    build-args: |
                        "APP=logs-collector"
                    labels:
                        LEAV Engine
                        Logs Collector
                    tags: |
                        "leavengine/logs-collector:latest"
                        "leavengine/logs-collector:${{ github.ref_name }}"
